<section>
  <mat-list>
    <div *ngIf="(getTodoList | done:true).length">Zrobione</div>
    <mat-list-item *ngFor="let todo of getTodoList | done:true">
      <div (click)="changeState(todo.id)">
        <span class='material-icons color-green'>check_circle</span>
        {{ todo.name }}
      </div>
      <span class='material-icons trash' (click)="deleteTodo(todo.id)">delete</span>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <div *ngIf="(getTodoList | done:false).length">Niezrobione</div>
    <mat-list-item *ngFor="let todo of getTodoList | done:false">
      <div (click)="changeState(todo.id)">
        <span class='material-icons'>radio_button_unchecked</span>
        {{ todo.name }}
      </div>
      <span class='material-icons trash' (click)="deleteTodo(todo.id)">delete</span>
    </mat-list-item>
  </mat-list>
</section>